<%- include("partials/header") %>

<!-- Not sure this page is going to be needed, might change to an edit page -->
<body>
    <h1>This is the Edit Work Order Page</h1>

<%- include("partials/footer") %>