<%- include("partials/header") %>

<body>
    <h1>        <!-- https://stackoverflow.com/questions/32540044/html-display-current-date/32540196 -->
        Ticketing System - Date: <script> document.write(new Date().toLocaleDateString()); </script> 
    </h1>
    <div>
        <h2>Current Employees On Shift</h2>
        <ol>
            <li> Employee 1</li>
            <li> Employee 2</li>
            <li> Employee 3</li>
            <li> Employee 4</li>
            <li> Employee 5</li>
        </ol>
        <a href="/zookeepers">View All Zoo Keepers</a>
    </div>
    <div>
        <table class="workOrders">
            <legend>Current Open Work Orders</legend>
            <thead>
                <th>work_order_id</th>
                <th>zookeeper_id</th>
                <th>enclosure_id</th>
                <th>task_name</th>
                <th>available</th>
                <th>overdue_status</th>
                <th>accepted task</th>
            </thead>
            <tr>
                <td>W1</td>
                <td>Z1</td>
                <td>E1</td>
                <td>Sample Task</td>
                <td>True</td>
                <td>False</td>
                <td>True</td>
            </tr>
        </table>
        <a href="/workorders">View All Work Orders</a>
    </div>
    <div>
        <form action="/workorders" method="POST">
            <fieldset>
                <legend>Submit New Work Order</legend>
                <input type="text" placeholder="task"><br>
                <input type="text" placeholder="animal enclosure"><br>
                <input type="text" placeholder="zookeeper"><br>
                <input type="submit" value="submit">
            </fieldset> 
        </form>
    </div>

<%- include("partials/footer") %>