<%- include("partials/header") %>

<!-- View either all the details of an individual work order or view all work orders past and present -->
<body>
    <h1>This is the Detailed Work Order Page</h1>

<%- include("partials/footer") %>