<%- include("partials/header") %>

<body>
    <h1>Detailed Zoo Keepers Page</h1>
    <table>
        <legend>JavaScript will fill this table with all zookeepers in the database</legend>
        <thead>
            <th>Name</th>
            <th>Phone Number</th>
            <th>Supervisor</th>
        </thead>
        <tr>
            <td>Employee 1</td>
            <td>888-888-8888</td>
            <td>Supervisor 1</td>
        </tr>
        <tr>
            <td>Employee 2</td>
            <td>888-888-8888</td>
            <td>Supervisor 2</td>
        </tr>
        <tr>
            <td>Employee 3</td>
            <td>888-888-8888</td>
            <td>Supervisor 3</td>
        </tr>
        <tr>
            <td>Employee 4</td>
            <td>888-888-8888</td>
            <td>Supervisor 4</td>
        </tr>
        <tr>
            <td>Employee 5</td>
            <td>888-888-8888</td>
            <td>Supervisor 5</td>
        </tr>
    </table>
<%- include("partials/footer") %>