body {
    background-color: whitesmoke;
}

table, th, td {
    border: 1px solid black;
}

legend {
    font-weight: bold;
    font-size: 200%;
}

input, select {
    width: 15%;
}

div {
    padding: 10px;
}

.nav-item {
    font-size: larger;
}